<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Node Server Auditor</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/adminlte/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/adminlte/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/adminlte/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/adminlte/plugins/iCheck/flat/blue.css">
  <link rel="stylesheet" href="/adminlte/plugins/morris/morris.css">
  <link rel="stylesheet" href="/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <link rel="stylesheet" href="/adminlte/plugins/datepicker/datepicker3.css">
  <link rel="stylesheet" href="/adminlte/plugins/daterangepicker/daterangepicker-bs3.css">
  <link rel="stylesheet" href="/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="/adminlte/plugins/datatables/dataTables.bootstrap.css">
  <link rel="stylesheet" href="/adminlte/bootstrap/css/custom.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="/adminlte/bootstrap/js/html5shiv.min.js"></script>
  <script src="/adminlte/bootstrap/js/respond.min.js"></script>
  <![endif]-->
</head>
<% if(typeof user !== 'undefined') { %>
<body class="hold-transition skin-blue sidebar-mini">
<% } else { %>
<body class="hold-transition login-page">
<% } %>
<div class="wrapper">

  <% if(typeof user !== 'undefined') { %>
  <header class="main-header">
    <!-- Logo -->
    <a href="/dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Node Server Auditor</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <section class="content-header" style="padding: 0px;float: left">
        <h1 style="float: left;padding-top: 10px">
          <% if(tags === 'dashboard') { %>
          Dashboard
          <% } else if(tags === 'adminmanage' || tags === 'usermanage') { %>
          Security
          <% } else if(tags === 'schedule') { %>
          Schedule
          <% } else if(tags === 'connection' || tags === 'servers' || tags === 'modules') { %>
          Settings
          <% } else if(tags === 'reports') { %>
          Reports
          <% } else if(tags === 'api') { %>
          APIs
          <% } %>
          <small>management</small>
        </h1>
        <ol class="breadcrumb" style="float: left;position: inherit;padding-left: 50px">
          <% if(tags === 'dashboard') { %>
            <li><a><i class="fa fa-th"></i> Dashboard</a></li>
            <li class="active"> dashboard</li>
          <% } else if(tags === 'adminmanage') { %>
            <li><a><i class="fa fa-th"></i> Security</a></li>
            <li class="active"> Administrater</li>
          <% } else if(tags === 'usermanage') { %>
            <li><a><i class="fa fa-th"></i> Security</a></li>
            <li class="active"> Ordinary users</li>
          <% } else if(tags === 'schedule') { %>
            <li><a><i class="fa fa-th"></i> Schedule</a></li>
          <% } else if(tags === 'connection') { %>
            <li><a><i class="fa fa-th"></i> Settings</a></li>
            <li class="active"> Connection types</li>
          <% } else if(tags === 'servers') { %>
            <li><a><i class="fa fa-th"></i> Settings</a></li>
            <li class="active"> Servers</li>
          <% } else if(tags === 'modules') { %>
            <li><a><i class="fa fa-th"></i> Settings</a></li>
            <li class="active"> Modules</li>
          <% } else if(tags === 'reports') { %>
            <li><a><i class="fa fa-th"></i> Reports</a></li>
            <li class="active"> Reports</li>
          <% } else if(tags === 'api') { %>
            <li><a><i class="fa fa-th"></i> APIs</a></li>
            <li class="active"> APIs</li>
          <% } %>
        </ol>
      </section>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/adminlte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= user.firstname %> <%= user.lastname %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  <%= user.firstname %> <%= user.lastname %>
                  <small>Member since <%= moment(user.createdAt).format('YYYY.MM') %></small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/profile" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <% if(tags === 'dashboard') { %> class="active" <%= tags %> <% } %> ><a href="/dashboard"><i class="fa fa-circle-o"></i> Dashboard </a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i><span>Reports</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <% if(tags === 'reports') { %> class="active" <%= tags %> <% } %> ><a href="/reports"><i class="fa fa-circle-o"></i> Reports </a></li>
          </ul>
        </li>

        <% if(user.isAdmin) { %>

        <li class="active treeview">
          <a href="#">
            <i class="fa fa-files-o"></i><span>Security</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <% if(tags === 'adminmanage') { %> class="active" <%= tags %> <% } %> ><a href="/adminmanage"><i class="fa fa-circle-o"></i> Administrators </a></li>
            <li <% if(tags === 'usermanage') { %> class="active" <%= tags %> <% } %> ><a href="/usermanage"><i class="fa fa-circle-o"></i> Ordinary Users </a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Schedule</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <% if(tags === 'schedule') { %> class="active" <%= tags %> <% } %> ><a href="/schedule"><i class="fa fa-circle-o"></i> Schedule </a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-laptop"></i><span>Settings</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <% if(tags === 'connection') { %> class="active" <%= tags %> <% } %> ><a href="/connection"><i class="fa fa-circle-o"></i> Connection Types </a></li>
            <li <% if(tags === 'servers') { %> class="active" <%= tags %> <% } %> ><a href="/servers"><i class="fa fa-circle-o"></i> Servers </a></li>
            <li <% if(tags === 'modules') { %> class="active" <%= tags %> <% } %> ><a href="/modules"><i class="fa fa-circle-o"></i> Modules </a></li>
          </ul>
        </li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-th"></i><span>APIs</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li <% if(tags === 'api') { %> class="active" <%= tags %> <% } %> ><a href="/api"><i class="fa fa-circle-o"></i> APIs </a></li>
          </ul>
        </li>

        <% } %>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <% } %>

  <!-- Content Wrapper. Contains page content -->
  <%- body %>
  <!-- /.content-wrapper -->


</div><!-- ./wrapper -->

<script src="/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/adminlte/plugins/jQueryUI/jquery-ui.min.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/adminlte/bootstrap/js/bootstrap.min.js"></script>
<script src="/adminlte/plugins/raphael/2.1.0/raphael-min.js"></script>
<script src="/adminlte/plugins/morris/morris.min.js"></script>
<script src="/adminlte/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/adminlte/plugins/knob/jquery.knob.js"></script>
<script src="/adminlte/plugins/moment.js/2.10.2/moment.min.js"></script>
<script src="/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/adminlte/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/adminlte/plugins/fastclick/fastclick.min.js"></script>
<script src="/adminlte/plugins/jquery-validation/jquery.validate.js"></script>
<!-- DataTables -->
<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/adminlte/dist/js/app.min.js"></script>
<!--<script src="/adminlte/dist/js/pages/dashboard.js"></script>-->
<!--<script src="/adminlte/dist/js/demo.js"></script>-->

<!-- Custom Javascript -->
<script src="/js/custom/notify.min.js"></script>
<script src="/js/custom/user.js"></script>
</body>
</html>
