<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">

    <div class="alert alert-success alert-dismissable">
      <h4>	<i class="icon fa fa-check"></i> # Settings</h4>
    </div>

  </section><!-- /.content -->
</div>
