<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Node Server Auditor</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form action="/login" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div><!-- /.col -->
      </div>
    </form>

  </div><!-- /.login-box-body -->

  <% if(typeof error !== 'undefined') { %>
  <div class="alert alert-error alert-danger" style="z-index: 50; position: fixed; margin-top:20px">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Login Error!</h4>

    <p class="flow-text red-text lighten-2">The following errors have occurred : <small><%- __(error) %></small></p>
  </div>
  <% } %>

</div><!-- /.login-box -->
