<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- error message -->
      <div class="col-md-12">
        <% if(typeof err !== 'undefined') { %>
        <div class="alert alert-error alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= err %></p>
        </div>
        <% } %>
      </div>

      <!-- right column -->
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">User Information</h3>
          </div><!-- /.box-header -->
          <!-- form start -->
          <form action="/adminmanage/create" class="form-horizontal" method="post">
            <div class="box-body">
              <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="User[firstname]" placeholder="First Name"
                         value="<% if(typeof old !== 'undefined') { %><%= old['firstname'] %><% } %>">
                </div>
              </div>
              <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="User[lastname]" placeholder="Last Name"
                         value="<% if(typeof old !== 'undefined') { %><%= old['lastname'] %><% } %>">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" name="User[email]" placeholder="Email"
                         value="<% if(typeof old !== 'undefined') { %><%= old['email'] %><% } %>">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="User[password]" placeholder="Password"
                         value="<% if(typeof old !== 'undefined') { %><%= old['password'] %><% } %>">
                </div>
              </div>
              <div class="form-group">
                <label for="passwordconfirm" class="col-sm-2 control-label">Password Confirm</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="User[confirm_password]" placeholder="Password Confirm"
                         value="<% if(typeof old !== 'undefined') { %><%= old['confirm_password'] %><% } %>">
                </div>
              </div>
              <div class="form-group">
                <label for="isAdmin" class="col-sm-2 control-label">Is Administrator?</label>
                <div class="col-sm-10">
                  <input type="checkbox" name="User[isAdmin]" placeholder="Is Administrator?">
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <a href="/adminmanage" type="submit" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-info pull-right">Add User</button>
            </div><!-- /.box-footer -->
          </form>
        </div><!-- /.box -->
      </div><!--/.col (right) -->
    </div>   <!-- /.row -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
