<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-header">
            <h3 class="box-title">User Table</h3>
            <div class="box-tools">
              <div class="input-group pull-right">
                <a href="/adminmanage/create" class="btn btn-sm btn-default">Add User</a>
              </div>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data-table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Is Admin</th>
                <th>Password</th>
                <th>Operations</th>
              </tr>
              </thead>
              <tbody>
              <% users.forEach(function(item) { %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.firstname %> <%= item.lastname %></td>
                <td><%= item.email %></td>
                <td><% if(item.isAdmin == true) { %>Administrator<% } else { %>Ordinary User<% } %></td>
                <td><%= item.password %></td>
                <td>
                  <a href="/adminmanage/update/<%= item.id %>" class="btn btn-sm btn-default">Edit</a>
                  <a href="/adminmanage/delete/<%= item.id %>" class="btn btn-sm btn-default" >Delete</a>
                </td>
              </tr>
              <% }) %>
              </tbody>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->

  <!-- add -->
  <div class="modal fade" id="user-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modaltitle" name="modaltitle">Add User</h4>
        </div>

        <div class="modal-body">
          <form action="javascript:onSubmitUserAdd()" id="adduserform" method="post">
            <div class="form-group has-feedback">
              <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First name" autofocus>
            </div>
            <div class="form-group has-feedback">
              <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last name">
            </div>
            <div class="form-group has-feedback">
              <input type="email" id="emailid" name="emailid" class="form-control" placeholder="Email">
            </div>
            <div class="form-group has-feedback">
              <input type="text" id="photoid" name="photoid" class="form-control" placeholder="Photo ID">
            </div>
            <div class="form-group">
              <input type="checkbox" id="isGrad" name="isGrad"/> isGrad
            </div>
            <div class="form-group">
              <input type="checkbox" id="isAdmin" name="isAdmin"/> isAdmin
            </div>
            <div class="form-group has-feedback">
              <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group has-feedback">
              <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm password">
            </div>
            <div class="form-group">
              <input type="checkbox" id="sendalert" name="sendalert"/> Send Alert
            </div>
            <input type="hidden" id="method">

            <div class="modal-footer clearfix">
              <button id="add_cancel_btn" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <button id="add_ok_btn" type="submit" class="btn btn-primary pull-left">OK</button>
            </div>
          </form>
        </div> <!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div><!-- /.content-wrapper -->
