<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">

    <div class="alert alert-danger alert-dismissable">
      <h4><i class="icon fa fa-ban"></i> Alert!</h4>
      You have no permission.
    </div>

  </section><!-- /.content -->
</div>
